<li>
  <p class="comment-body">
    <%=comment.content%> -
    <a href="/users/<%=comment.createdBy._id%>"
      ><%=comment.createdBy.username%></a
    >
  </p>
  <div>
    <p class="comment-rating">Rating: <%=comment.rating%>/5</p>
    <%if(comment.createdBy._id.toString() === id){ %>
    <form action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
      <input class="delete-comment" type="submit" value="DELETE COMMENT" />
    </form>
    <%}%>
  </div>
</li>
